@font-face {
    font-family: "Humanist";
    src: url("../fonts/Hum521Lt.ttf");
}

@font-face {
    font-family: "Humanist";
    src: url("../fonts/HUM521B.TTF");
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*NAVBAR*/
.navbar-nav {
    font-family: "Roboto";
}

.nav-top-inn {
    position: relative;
}

.btn-foto-navarr {
    position: absolute;
    top: 55px;
    right: 50px;
}

.btn-foto-navarr button {
    background-color: rgb(45, 49, 66);
    color: #fff;
    border-radius: 13px;
    padding: 2px 8px;
}

.btn-foto-navmed {
    display: inline-block;
    margin-top: 22px;
}

.btn-foto-navmed button {
    background-color: rgb(45, 49, 66);
    color: #fff;
    border-radius: 13px;
    padding: 2px 8px;
}

.btn-info-nav {
    display: inline-block;
}

.btn-info-nav button {
    background-color: rgb(45, 49, 66);
    color: #fff;
    border-radius: 13px;
    padding: 2px 8px;
}

.btn-foto-body {
    position: absolute;
    top: 55px;
    left: 50px;
    z-index: 150;
}

.cambiar-distancia-wrapp {
    position: absolute;
    top: 94px;
    left: 50px;
    padding: 25px;
    z-index: 150;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}

.btn-cambdist-wrapp {
    text-align: center;
}

.btn-foto-body button {
    background-color: rgb(45, 49, 66);
    color: #fff;
    border-radius: 13px;
    padding: 2px 8px;
}

.navbar-middle a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.navbar-middle a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(19, 46, 115);
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navbar-middle a:hover:before,
.navbar-middle a:focus:before,
.navbar-middle a:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.active-nav-a a:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.navbar {
    height: 81px;
    background: linear-gradient(to right, #fff 10%, #2d3142);
}

.nav-top-wrap {
    height: 100px;
}

.nav-top-inn {
    height: 100px;
    overflow: hidden;
}

.nav-top-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    max-height: 550px;
    min-height: 150px;
    transform: translateY(-18%);
}

.nav-top-cuad {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(19, 46, 115, 0.5);
}

.nav>li>a {
    transition: color 0.5s ease, background-color 0.5s ease;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -moz-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    -ms-transition: color 0.5s ease, background-color 0.5s ease;
    color: #fff;
}

.icon-bar {
    background-color: #fff;
}

li.active-nav-a>a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: rgb(255, 255, 255);
    color: #2d3142;
}

.navbar-toggle {
    border: solid 2px #fff;
    margin-top: 20px;
    margin-right: 30px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgb(255, 255, 255);
    color: #2d3142;
}

.navbar-brand {
    padding: 0;
    padding-left: 15px;
    height: 80px;

}

.nav-img-logo {
    max-height: 80px;
    max-width: 300px;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.bot-nav-wrap {
    position: fixed;
    z-index: 10;
    text-align: right;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(101, 101, 101);
    width: 100%;
}

.bot-nav-inn {}

.bot-nav-ap,
.bot-nav-tel,
.bot-nav-ubi {
    display: inline-block;
    font-size: 13px;
}

.bot-nav-ap {
    position: relative;
    top: 50px;
    left: 15px;
    z-index: 5;
}

.bot-nav-tel {}

.bot-nav-ubi {}

.navbar-nav li {
    text-transform: uppercase;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #2d3142;
}

.dropdown-menu {
    background-color: #fff;
    color: rgb(45, 49, 66);
}

.navbar-middle a:before {
    background: none;
}

.navbar-nav .dropdown-menu>li>a {
    color: rgb(45, 49, 66);
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    text-align: center;
}

.navbar-nav .dropdown-menu>li>a:focus,
.navbar-nav .dropdown-menu>li>a:hover {
    color: #888;
    background-color: #fff;
    background-image: -webkit-#fff;
    background-image: -o-#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
}

.navbar-nav .dropdown-menu>li>a:focus,
.navbar-nav .dropdown-menu>li>a:hover {
    color: #888;
    background-color: #fff;
    background-image: -webkit-#fff;
    background-image: -o-#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
}

@media (max-width: 991px) {
    .navbar-nav .container {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-collapse {}

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

/*END NAVBAR*/
@media (min-width: 768px) {
    .navbar-nav>li>a {

        padding: 30px 10px !important;
    }

    #navbar-dwn {
        float: right;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .cont-index {
        margin-top: 81px !important;
    }

    .cont-buscarcert {
        padding-top: 110px !important;
    }

    .cont-nosotros-wrapp {}

    .bot-nav-wrap {
        margin-top: 30px !important;
    }

    .navbar {}

    .nav-top-wrap {
        height: 130px !important;
    }

    .nav-top-inn {
        height: 130px !important;
    }

    .nav-top-cuad {
        height: 130px !important;
    }

    #carrec-wrapper {}

    .unidele-etiq-wrapp {
        padding-top: 130px !important;
    }

    .navbar {
        height: 81px;
        background: linear-gradient(to right, #fff 20%, #2d3142) !important;
    }
}

@media (max-width: 875px) {
    .busq-cer-icon {
        display: inline-block !important;
    }

    .div-footer-2 {
        display: none !important;
    }

    .aneic-footer {
        font-size: 13px !important;
        height: 8px !important;
        transform: translateY(-7px) !important;
    }

    .copr-aqm {
        transform: translateY(-10px) !important;
        font-size: 13px !important;
        height: 5px !important;
        display: block !important;
    }

    .logo-foot {
        height: 19px !important;
    }

    .logo-foot-wrap {
        height: 15px !important;
    }

    .busq-cer-icon span {
        line-height: 50px;
    }

    .busq-cer-lin {
        display: none !important;
    }

    .busq-cert-wrap {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .busq-cert-wrap:before {
        -webkit-transform: skew(-25deg) rotateX(180deg) translateX(10px) !important;
        -ms-transform: skew(-25deg) rotateX(180deg) translateX(10px) !important;
        transform: skew(-25deg) rotateX(180deg) translateX(10px) !important;
        height: 75% !important;
    }

    .busq-cert-wrap:after {
        -webkit-transform: skew(25deg) rotateX(180deg) translateX(-10px) !important;
        -ms-transform: skew(25deg) rotateX(180deg) translateX(-10px) !important;
        transform: skew(25deg) rotateX(180deg) translateX(-10px) !important;
        height: 75% !important;
    }
}

.tip-info {
    position: absolute;
    display: none;
    top: 20%;
    right: 5px;
    background-color: #b30d17;
    color: white;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

@media (max-width: 400px) {

    .container.cont-unidele .col-univdel-princ {
        padding-left: 0 !important;
        padding-right: 0 !important;

    }

    .container.cont-unidele {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .elecc-ubiuni-wrapp {
        margin: 0 !important;
    }
}

@media (min-width: 527px) and (max-width: 768px) {
    .tip-info {
        display: block;
    }


}

@media (max-width: 767px) {

    .univdel-row,
    .regdel-row {
        margin-right: 0 !important;
        margin-left: 0px !important;
    }


    .elecc-ubiuni-wrapp {
        max-width: 98% !important;
        margin: 0 1% !important;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }

    .fb-footer span {
        display: none;
    }

    .copr-aqm span {
        display: none !important;
    }

    .cont-flow-wrapp {
        width: 100% !important;
    }

    .cont-imagenes-nos {
        width: 100% !important;
        text-align: center;


    }

    .img-nos-wrap {
        display: inline-block;
        position: relative;

    }

    .unidele-etiq-inn span {
        font-size: 16px !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .index-bienv {
        font-family: "Roboto";
        font-size: 40px !important;
    }

    .index-aneic {
        color: #fff;
        text-align: center;
        font-size: 20px !important;
    }

    #navbar-dwn {
        background-color: #2d3142;
        text-align: center;
        box-shadow: 0px 1px 5px #e0e0e0;
    }

    .eventos-wrapp-izq {
        text-align: center !important;
    }

    .foot-izq-row {
        font-size: 15px !important;
        padding: 1px !important;
    }

    .foot-izq-rowlogo {
        padding: 0 !important;
    }

    .facebook-gly {
        width: 20px !important;
        height: 20px !important;
    }

    .col-footer-izquierda {
        padding-bottom: 10px;
    }
}

#footer {
    margin-top: 30px;
}

/*BODY*/
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

    font-family: "Open Sans";
    min-height: 100%;
    position: relative;
    margin: 0;
}

.bdy-wrapper {
    padding-top: 100px;

}

/*Body*/


/*INDEX*/
.cont-index {
    margin-top: 81px;
    z-index: 10;
    background-image: url('../img/COL15-07.JPG');
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
}

.cuadro-index-wrapper {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.index-contenido-princ {
    margin-top: 5px;
}

.index-bienv {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.index-aneic-wrapp {
    margin-bottom: 250px;
}

.index-aneic {
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.index-btn-wrap {
    padding-top: 50px;
    text-align: center;
}

.index-btn {
    color: #fff;
    border: 2px solid #fff;
    font-size: 24px;
    padding: 11px 55px;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.index-btn:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
}

/*RECURSOS*/
.row-recursos {}

.recurso-wrapp {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.recurso-img {
    height: 90px;
}

.recurso-descr {
    color: #888;
    display: inline-block;
    margin: 0 auto;
}

#carrec-wrapper {
    background-color: #fff;
    margin: 0px auto;
}

.list_carousel {
    height: 110px;
    background-color: #fff;
    margin: 0 0 0px 0px;
    z-index: 100;
    position: relative;
}

.list_carousel ul {
    height: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.list_carousel li {
    text-align: center;
    width: auto;
    display: block;
    float: left;
}

.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}

.clearfix {
    float: none;
    clear: both;
}

.prev {
    float: left;
    margin-left: 10px;
}

.next {
    float: right;
    margin-right: 10px;
}

.pager {
    float: left;
    width: 300px;
    text-align: center;
}

.pager a {
    margin: 0 5px;
    text-decoration: none;
}

.pager a.selected {
    text-decoration: underline;
}

#recursos .text-gener-inner {
    padding-bottom: 50px;
}

#img-recurso-1 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -110px 0px;
}

#img-recurso-2 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -220px 0px;
}

#img-recurso-3 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -330px 0px;
}

#img-recurso-4 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -440px 0px;
}

#img-recurso-5 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -550px 0px;
}

#img-recurso-6 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -660px 0px;
}

#img-recurso-7 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -770px 0px;
}

#img-recurso-8 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -880px 0px;
}

#img-recurso-9 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -990px 0px;
}

#img-recurso-10 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1100px 0px;
}

#img-recurso-11 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1210px 0px;
}

#img-recurso-12 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1320px 0px;
}

#img-recurso-13 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1430px 0px;
}

#img-recurso-14 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1540px 0px;
}

#img-recurso-15 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1650px 0px;
}

#img-recurso-16 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1760px 0px;
}

#img-recurso-17 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1870px 0px;
}

#img-recurso-18 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -1980px 0px;
}

#img-recurso-19 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2090px 0px;
}

#img-recurso-20 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2200px 0px;
}

#img-recurso-21 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2310px 0px;
}

#img-recurso-22 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2420px 0px;
}

#img-recurso-23 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2530px 0px;
}

#img-recurso-24 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2640px 0px;
}

#img-recurso-25 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2750px 0px;
}

#img-recurso-26 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2860px 0px;
}

#img-recurso-27 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -2970px 0px;
}

#img-recurso-28 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3080px 0px;
}

#img-recurso-29 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3190px 0px;
}

#img-recurso-30 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3300px 0px;
}

#img-recurso-31 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3410px 0px;
}

#img-recurso-32 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3520px 0px;
}

#img-recurso-33 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3630px 0px;
}

#img-recurso-34 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3740px 0px;
}

#img-recurso-35 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3850px 0px;
}

#img-recurso-36 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -3960px 0px;
}

#img-recurso-37 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -4070px 0px;
}

#img-recurso-38 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -4180px 0px;
}

#img-recurso-39 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -4290px 0px;
}

#img-recurso-40 {
    height: 96px;
    width: 110px;
    background: url(../img/Sprite.jpg) -4400px 0px;
}

/*RECURSOS*/
.wrapp-univ-aso {
    margin-top: 100px;
    background-color: #fff;
    position: relative;
    padding-top: 25px;
    padding-bottom: 30px;
}

.univ-asoinn-tit {
    font-family: "Roboto";
    padding: 15px;
    font-size: 35px;
    color: #f6252f;
    text-align: center;
}

.univ-asoinn-tit .glyphicon {
    font-size: 25px;
}

/*END INDEX*/

/* FOOTER*/
.foot-wrap {
    background-color: #fff;
    position: relative;
    box-shadow: 0px -1px 5px #e0e0e0;
    -webkit-box-shadow: 0px -1px 5px #e0e0e0;
    -moz-box-shadow: 0px -1px 5px #e0e0e0;

}

.foot-wrapp-inn {
    margin-bottom: 45px;
    max-width: 100%;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-top: 20px;
}

.footer-inner {
    position: relative;
}

.footer-inner {
    position: relative;
    padding: 1rem;
    min-width: 100%;
    color: #fff;
    background-color: rgb(45, 49, 66);
}

.col-footer-izquierda {
    text-align: center;
}

.form-contacto .form-control {
    border-radius: 10px;
}

.footer-izq {
    float: left;
}

.foot-izq-rowlogo {
    text-align: center;
    padding: 15px;
}

.foot-img-logo {
    width: 150px;
}

.footer-der {
    float: right;

}

.enviar-contacto-wrapp {
    text-align: center;
}

.foot-izq-rowwrp {
    display: inline-block;
    text-align: center;
}

.foot-izq-row {
    font-size: 16px;
    padding: 5px;
}

.foot-izqrow-inn {
    display: inline-block;
    text-align: center;
}

.facebook-gly {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.foot-izqrow-inn .info-izqfoot-row,
.foot-izqrow-inn .glyphicon {
    color: #333333
}

.copr-aqm,
.aneic-footer,
.div-footer {
    font-size: 13px;
    display: inline-block;
}

.btn-sub-cont {
    background-color: #f6252f;
    color: #ffffff;
    transition: all 0.5s ease;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.btn-sub-cont:hover {
    background-color: #ccc;
    color: #2d3142;
}

.div-footer-2 {
    display: inline-block;
}

.aneic-footer-2 {
    font-size: 13px;
    height: 8px;
    transform: translateY(-7px);
}

.logo-fb-img {
    width: 25px
}

.logo-foot {}

.logo-foot-wrap {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.logo-foot-wrap:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.55) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.55) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.logo-foot-wrap:hover,
.logo-foot-wrap:focus,
.logo-foot-wrap:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.logo-foot-wrap:hover:before,
.logo-foot-wrap:focus:before,
.logo-foot-wrap:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.footr-dwn {
    clear: both;
    text-align: center;
    height: 5px;
    transform: translateY(-25px);
}

.busq-cert-wrap {
    color: #fff;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: -20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(45, 49, 66);
}

.busq-cert-wrap:hover,
.busq-cert-wrap:focus {
    color: #fff;
    text-decoration: none;
}

.busq-cert-wrap:hover:after,
.busq-cert-wrap:hover:before {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.busq-cert-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(45, 49, 66);
    -webkit-transform: skew(25deg) rotateX(180deg) translateX(-16px);
    -ms-transform: skew(25deg) rotateX(180deg) translateX(-16px);
    transform: skew(25deg) rotateX(180deg) translateX(-16px);
    z-index: -1;
    border-bottom-left-radius: 5px;

    -webkit-box-shadow: -4px -11px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -4px -11px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -4px -11px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.busq-cert-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(45, 49, 66);
    -webkit-transform: skew(-25deg) rotateX(180deg) translateX(16px);
    -ms-transform: skew(-25deg) rotateX(180deg) translateX(16px);
    transform: skew(-25deg) rotateX(180deg) translateX(16px);
    z-index: -1;

    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 4px -11px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px -11px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px -11px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.busq-cer-icon {
    display: none;
}

.busq-cer-lin {
    line-height: 25px;
}

.col-footer-derecha {
    border: 1px solid #e0e0e0;
    padding: 10px;
    background-color: #a1a3ab;
    border-radius: 20px;
}

.foot-contdertit {
    font-family: "Roboto";
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.foot-contdertit span {
    font-size: 25px;
}

.foot-cont-wrapp .form-control {
    border: 1px solid #fff;
}

/* END FOOTER*/

/*GENERAR QR*/
.canvas-ant {
    width: 595px;
    height: 842px;
    background-color: #fff;
}

.form-qr-settings {
    margin-bottom: 25px;
    max-width: 600px;
}

.qr-canvas {
    display: none;
}

/*END GENERAR QR*/
/*BUSCAR CERTIFICADO*/
.cont-buscarcert {
    padding-top: 110px;
}

.tit-cert-canvas {
    padding: 25px 0;
    font-size: 20px;
    font-weight: bold;
}

.fila-certificado-canvas {
    position: absolute;
    top: -15000px;
    left: -15000px;
}

.fila-certificado-canvas .elemento-drag {
    cursor: default;
}

.cert-inn-descr .mostrar-cert {
    cursor: pointer;
}

/*END BUSCAR CERTIFICADO*/
/*CERTIFICADO*/
.cert-inst-wrapp {
    padding-top: 110px;
}

.cert-inst-inn {
    font-size: 16px;
    display: inline-block;
    background-color: rgb(19, 46, 115);
    color: #fff;
    padding: 8px 10px 8px 25px;
    -webkit-box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.75);
}

.cert-inn {
    margin-top: 15px;
    max-width: 650px;
    min-width: 300px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: rgb(242, 243, 247);
    padding: 15px 5px 15px 10px;

}

.cert-inn-tit,
.cert-inn-descr {
    display: inline-block;
}

.cert-inn-tit {
    float: left;
    font-weight: bold;
    width: 130px;
}

.cert-inn-descr {
    width: calc(100% - 150px);
}

.row-pers-busq {
    margin-top: 15px;
}

/*EBD CERTIFICADO*/

/*NOSOTROS*/
.cont-nosotros {}

.cont-nosotros-wrapp {
    padding-top: 10px;
}

.cont-flow-wrapp {
    display: inline-block;
    width: calc(100% - 224px);
    min-width: 250px;
    float: left;
    padding-bottom: 50px;
}

.cont-imagenes-nos {
    display: inline-block;
    width: 220px;
    text-align: center;
    padding-bottom: 50px;
}

.cont-flow-tit {
    font-size: 24px;
    font-family: "Roboto";
    color: #2d3142;
}

.cont-flow-contenido {
    padding-right: 5%;
}

.cont-flow-contenido p {
    text-align: justify;
}

.img-nos-wrap img {
    height: 150px;
    width: 200px;
}

.img-nos-wrap:nth-child(2) img,
.img-nos-wrap:nth-child(5) img {
    transform: rotateZ(10deg);
}

.img-nos-wrap:nth-child(3) img,
.img-nos-wrap:nth-child(6) img {
    transform: rotateZ(-10deg);
}

.cont-nosotros-docu {
    padding-top: 15px;
}

.tit-docu {
    font-size: 24px;
    font-family: "Roboto";
    color: #2d3142;
}

.img-docu-aneic {
    height: 25px;
}

.table-docu th {
    font-size: 16px
}

/*END NOSOTROS*/

/*UNIVERSIDADES Y DELEGADOS*/
.unidele-etiq-wrapp {
    padding-top: 100px;
}

.univdel-card-imgwrapp .img-circle {
    border: 0px solid rgba(0, 0, 0, 0.25);
}

.unidele-etiq-inn {
    font-family: "Roboto";
    position: relative;
    display: inline-block;
    padding: 1px 16px 1px 20%;
    background-color: rgb(19, 46, 115);
    background-image: -moz-linear-gradient(left top, #ff202d 0%, #ff202d 50%, #000 50%, #000 51%,




        51%, #b30d17 80%, #000 80%, #000 81%, #82060e 81%, #82060e 100%);
    background-image: linear-gradient(left top, #ff202d 0%, #ff202d 50%, #000 50%, #000 51%, #b30d17 51%, #b30d17 80%, #000 80%, #000 81%, #82060e 81%, #82060e 100%);
    background-image: -webkit-linear-gradient(left top, #ff202d 0%, #ff202d 50%, #000 50%, #000 51%, #b30d17 51%, #b30d17 80%, #000 80%, #000 81%, #82060e 81%, #82060e 100%);
    background-image: -o-linear-gradient(left top, #ff202d 0%, #ff202d 50%, #000 50%, #000 51%, #b30d17 51%, #b30d17 80%, #000 80%, #000 81%, #82060e 81%, #82060e 100%);
    background-image: -ms-linear-gradient(left top, #ff202d 0%, #ff202d 50%, #000 50%, #000 51%, #b30d17 51%, #b30d17 80%, #000 80%, #000 81%, #82060e 81%, #82060e 100%);

    cursor: default;
}

.unidele-etiq-inn span {
    font-size: 22px;
    color: #fff;
}

.unidele-etiq-inn:after {
    content: '';
    position: absolute;
    top: 0;
    right: -24px;
    width: 100%;
    height: 100%;
    background: #82060e;
    -webkit-transform: skew(25deg) rotateX(180deg) translateX(-16px);
    -ms-transform: skew(25deg) rotateX(180deg) translateX(-16px);
    transform: skew(25deg) rotateX(180deg) translateX(-16px);
    z-index: -1;
    border-bottom-left-radius: 5px;

}

.cont-unidele {
    padding-top: 25px;
}

.elecc-ubiuni-wrapp {
    padding: 5px 15px 15px 15px;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.35);
    max-width: 380px;
    margin: 0 auto;

}

.tit-sel-univdel {}

.sel-unibydel {
    text-align: right !important;
}

.univdel-row {
    padding-top: 35px;
}

.univdel-card-wrapp {
    text-align: center;
    max-width: 1000px;
}

.univdel-card-inn {
    margin-right: 27px;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    width: 280px;
    height: 150px;
    padding: 3px 55px 2px 5px;
}

.univdel-card-nom {
    color: rgb(66, 88, 143);
    text-align: center;
    font-size: 17px;
    /*height: 45px;*/
}

.univdel-card-pos {
    text-align: center;
    color: #999;
    font-size: 13px;
}

.univdel-card-detit {
    text-align: left;
    color: #999;
    font-size: 14px;
}

.univdel-card-deval {
    text-align: right;
    font-size: 14px;
}

.univdel-card-arri {
    height: 62px;
    overflow: hidden;
    position: relative;
}

.univdel-card-aba {
    height: 80px;
    overflow: hidden;
    position: relative;
}

.univdel-card-imgwrapp {
    position: absolute;
    top: -15px;
    right: 0;
    transform: translateX(50%);
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
}

.univdel-card-inn:nth-child(even) .univdel-card-arri {
    left: 78px;
}

.univdel-card-inn:nth-child(even) .univdel-card-imgwrapp {
    left: -30px;
}

.univdel-card-imgwrapp img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.img-mapa-wrapp {
    position: relative;
}

.puntos-mapa-wrapp {
    position: absolute;
}

.col-univdel-princ {
    margin-bottom: 15px;
}

#amazonas {
    left: 78px;
    top: 132px;
}

#ancash {
    left: 91px;
    top: 246px;
}

#apurimac {
    left: 215px;
    top: 366px;
}

#arequipa {
    left: 232px;
    top: 414px;
}

#ayacucho {
    left: 185px;
    top: 371px;
}

#cajamarca {
    left: 66px;
    top: 170px;
}

#callao {
    left: 105px;
    top: 287px;
}

#cusco {
    left: 236px;
    top: 342px;
}

#huancavelica {
    left: 164px;
    top: 333px;
}

#huanuco {
    left: 129px;
    top: 245px;
}

#ica {
    left: 143px;
    top: 369px;
}

#junin {
    left: 164px;
    top: 296px;
}

#lalibertad {
    left: 68px;
    top: 207px;
}

#lambayeque {
    left: 32px;
    top: 161px;
}

#lima {
    left: 121px;
    top: 312px;
}

#loreto {
    left: 170px;
    top: 100px;
}

#madrededios {
    left: 283px;
    top: 312px;
}

#moquegua {
    left: 270px;
    top: 443px;
}

#pasco {
    left: 154px;
    top: 266px;
}

#piura {
    left: 18px;
    top: 128px;
}

#puno {
    left: 293px;
    top: 381px;
}

#sanmartin {
    left: 113px;
    top: 187px;
}

#tacna {
    left: 286px;
    top: 462px;
}

#tumbes {
    left: 14px;
    top: 94px;
}

#ucayali {
    left: 199px;
    top: 253px;
}

.leyenda-mapa-ley,
.leyenda-mapa-coretit,
.leyenda-mapa-corecolor {
    display: inline-block;
}

.leyenda-mapa-inn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid gray;
    border-radius: 19px;
    margin-bottom: 15px;
}

.puntos-mapa-wrapp .tooltip {
    z-index: 1;
}

.punto-dep-link {
    cursor: pointer;
}

.punto-dep-link[data-corede='2'] circle {
    stroke: #0e8813;
}

.punto-dep-link[data-corede='3'] circle {
    stroke: #e27f53;
}

.punto-dep-link[data-corede='4'] circle {
    stroke: #4cb6bf;
}


/*PUNTOS*/

/*END UNIVERSIDADES Y DELEGADOS*/

/*EVENTOS*/
.cont-eventos {
    padding-top: 25px
}

.eventos-wrapp-der {
    display: inline-block;
    width: 150px;
}

.eventos-wrapp-izq {
    min-width: 250px;
    display: inline-block;
    width: calc(100% - 154px);
    float: left;
    min-height: 5px;
    text-align: left;
}

.eventos-wrapp-der,
.eventos-imgder-wrapp,
.eventos-imgder-wrapp img {
    height: 550px;
    overflow: hidden;
    max-width: inherit !important;
}

.eventos-imgder-wrapp img {
    height: 550px !important;
    transform: translateX(-15%);

}

/* Fade transition for carousel items */
.carousel-fade .item {
    transform: translateX(-15%) !important;
    -webkit-transition: opacity .4s;
    /*adjust timing here */
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.carousel-control {
    background-image: none !important;
    /* remove background gradients on controls */
}

/* Fade controls with items */
.carousel-fade .next.left,
.carousel-fade .prev.right {
    opacity: 1;
    z-index: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
    opacity: 0;
    z-index: 2;
}

.cuadro-evento-wrapp {
    display: inline-block;
    padding: 10px;
    height: 400px;
    width: 280px;
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 10px 1px #e0e0e0;
    -moz-box-shadow: 1px 1px 10px 1px #e0e0e0;
    box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.cuadro-evento-supe {
    position: relative;

}

.cuadro-evento-fecha {
    position: absolute;
    right: -10px;
    top: 15px;
    padding: 1px 5px;
    background-color: rgb(246, 37, 47);
    color: #fff;
    font-size: 13px
}

.cuadro-evenimg-wrapp {
    height: 150px;
    width: 260px;

}

.cuadro-evento-img {
    overflow: hidden;
    height: 100%;
}

.cuadro-evento-img img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.cuadro-evento-nombre {
    font-family: "Open Sans";
    padding-top: 10px;
    font-weight: bold;
    height: 70px;
    overflow: hidden;
    width: 260px;
    text-align: center;
}

.cuadro-evento-descr {
    text-align: justify;
    font-size: 13px;
    height: 125px;
    overflow: hidden;
    width: 260px;
}

.cuadro-evento-link {
    width: 260px;
    height: 40px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: left;
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: rgb(81, 81, 81) !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: rgb(81, 81, 81) !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget {
    background-color: #fff;
}


/*END EVENTOS*/

/*COMITE*/
.cont-comite {
    padding-top: 30px;
    margin-bottom: 30px;
}

.diagrama-organizacional {
    text-align: center;
}

.diagrama-org-ext {
    width: 250px;
    display: inline-block;
    text-align: center;
}

.diagrama-org-wrapp {
    padding-left: 10px;
    height: 70px;
    display: inline-block;
    text-align: center;
    background-color: rgb(27, 50, 128);
    border-radius: 10px;
    color: #fff;
    position: relative;
    padding-right: 40px;
    margin-top: -5px;
}

.diagrama-org-wrapp:hover {
    text-decoration: none;
    color: #fff;
}

.diagrama-org-nombre {
    height: 40px;
    line-height: 40px;
    word-wrap: break-word;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;

}

.diagrama-org-nombre span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}

.diagrama-org-puesto {
    height: 30px;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 13px;
}

.diagrama-org-img {
    position: absolute;
    top: -4px;
    right: 0;
    transform: translateX(50%);
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
}

.diagrama-org-img img {
    border: 0px solid rgba(0, 0, 0, 0.25);
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.diagr-lin-cent {
    display: inline-block;
    height: 20px;
    border: 2px solid rgb(215, 216, 219);
    margin-left: 30px;
    z-index: -1;
}

.diagrama-org-1 {
    background-color: #b0b1b7;
}

.diagrama-org-2 {
    background-color: #93959d;
}

.diagrama-org-3 {
    background-color: #6f727e;
}

.diagrama-org-4 {
    background-color: #585b68;
}

.diagrama-org-5 {
    background-color: #3b3f4e;
}

.row-comite-descr {
    padding: 0 25px;
    -webkit-box-shadow: 1px 1px 10px 1px #e0e0e0;
    -moz-box-shadow: 1px 1px 10px 1px #e0e0e0;
    box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.descr-comite-wrapp {
    padding-top: 25px;
}

.descr-comite-inn {
    padding-bottom: 25px;
}

.descr-comite-nombr,
.descr-comite-redes {
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
}

.descr-comite-nombr {
    font-family: "Roboto";
    text-transform: uppercase;
}

.img-comite-red img {
    height: 25px;
}

.img-comite-red img {
    height: 20px;
}

#descr-comite-1 {}

#loading-indicator {
    z-index: 10;
    position: fixed;
    left: 45%;
    top: 200px;
}

.cont-comit-hist {
    padding-top: 20px;
}

.tit-sel-comithist {
    font-size: 18px;
}

/*END COMITE*/

/*REGISTRO DE DELEGADOS*/
.form-registdel {
    text-align: left;
    margin: 10px;
}

.selec-arch {
    padding: 4px 12px 6px 12px;
    border: 1px solid #f72530;
    color: #f72530;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.btn-sub-regdel {
    background-color: #1b3280;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.btn-sub-regdel:hover,
.btn-sub-regdel:focus,
.btn-sub-regdel:active {
    background-color: #3d54A2;
    color: #eee;
}

.selec-arch:hover,
.selec-arch:focus,
.selec-arch:active {
    background-color: #f72530;
    color: #fff;
}

.descarg-exc {
    font-size: 16px;
}

/*END REGISTRO DE DELEGADOS*/

/*VOTACION*/
.cont-votacion {
    padding-top: 25px;
}

.row-votacion {
    padding-bottom: 50px;
}

.vot-tit-princ {
    font-size: calc(15px + 1.5vw);
}

.vot-tit-sec {
    font-size: calc(13px + 0.5vw);
    color: rgb(19, 46, 115);
}

.tabla-vot-tit thead th:first-child {
    width: 35px;
}

.tabla-vot-tit td label {
    font-weight: 100;
}

.vot-tab-tit-az {
    color: rgb(19, 46, 115);
    font-weight: bold !important;
}

.vot-btn-wrapp {
    text-align: center;
}

.vot-btn {
    display: inline-block;
    background-color: rgb(19, 46, 115);
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;

    -webkit-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.5);

}

.vota-modbod-msg {
    padding-bottom: 25px;
}

.vota-modbod-btn {
    text-align: center;
}


#mensaje-vot-mod .close {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 0;
}

.vot-btn-wrapp button[disabled],
.vot-btn-wrapp input[disabled] {
    cursor: not-allowed;
}

/*END VOTACION*/


/*RESULTADOS VOTACION*/
.tit-tabla-res {
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    min-width: 700px;
}

.tit-res {
    padding-top: 25px;
    font-size: 24px;
    font-weight: bold;
}

/*END RESULTADOS VOTACION*/

/*LISTA VOTACIONES*/
.tabla-vot-list {}

.agregar-votacion-adm {
    cursor: pointer;
    color: rgb(19, 46, 115);
    text-transform: uppercase;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.btn-ag-vot {
    background-color: #1b3280;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.btn-ag-vot:hover,
.btn-ag-vot:focus,
.btn-ag-vot:active {
    background-color: #3d54A2;
    color: #eee;
}

.col-mod-btn {
    text-align: center;
}

.link-edit-vota {
    color: rgb(19, 46, 115);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.novot-tab-wrapp {
    font-size: 17px;
}

/*END LISTA VOTACIONES*/

/*EDITAR VOTACION*/
.remover-voto-opc,
.remover-asis {
    color: #cc0c0c;
    cursor: pointer;
}

.agregar-votacionopc-adm {
    cursor: pointer;
}

/*END EDITAR VOTACION*/

/*ADMINISTRAR*/
.info-univ-wrapp {
    padding: 15px;
}

.info-univ-sp {
    width: 210px;
    font-weight: bold;
    display: inline-block;
}

.info-univ-nomb {
    width: calc(100% - 220px);
    display: inline-block;
    padding-left: 4px;
}

.table-del-adm td {
    vertical-align: middle !important;
}

.adm-tab-imgwrapp {
    top: 5px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.adm-img-tab {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.tbl-acep {
    color: #176d17;
}

.tbl-rech {
    color: #981111;
}


.deldel-arch {
    margin-top: 15px;
    background-color: #d85252;
    color: #fff;
    padding: 4px 12px 6px 12px;
    border: 1px solid #888;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.deldel-arch:hover,
.deldel-arch:focus,
.deldel-arch:active {
    background-color: #b52222;
    color: #fff;
}

.datpersbut-wrap {
    text-align: center;
    padding: 5px;
}

.expsub-wrapp {
    text-align: left;
    padding: 25px;
}

.expsub-wrappbot {
    text-align: center;
    padding: 25px;
}

/*GENERAR CERTIFICADOS*/
.canvas-cert-inn {
    width: 1740px;
    padding: 0;
    margin: 0;
    position: relative;
}

.elemento-drag {
    position: absolute;
    cursor: all-scroll;
    font-family: monospace;
}

.formato-inn h2 {
    font-size: 16px;
}

.ult-listcert-msg,
.dwn2-cert,
.cargar-nuev-cert {
    margin-top: 15px;
}

.img-qr-cert {
    width: 70px;
}

/*END GENERAR CERTIFICADOS*/

/*ASISTENCIA*/

.btn-guardar-asist {
    background-color: #2d3142;
    color: #fff;
}

.btn-guardar-asist:hover,
.btn-guardar-asist:active,
.btn-guardar-asist:focus {
    background-color: #2d3142;
    color: #ddd;
}

/*END ASISTENCIA*/


/*END ADMINISTRAR*/

/*MODAL RECUPERAR CODIGO*/
.modal-header .close-modal {
    border: 2px solid #000;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 0;
}


.logbut-mod {
    text-align: center;
}

/*END MODAL RECUPERAR CODIGO*/